*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
header{
    height: 70px;
    background-color: gray;
    padding: 10px 0px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}
.header-content .brand{
    font-size: 32px;
    text-decoration: none;
    color:#fff;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li a{
    display: block;
    color:#fff;
    min-width: 80px;
    padding: 5px;
    margin: 0px 5px;
}

/* **********************form********************** */

.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
    text-align: center;
    background: linear-gradient(to right, rgb(2, 87, 2), rgb(115, 202, 115));
    padding: 20px;
}

.section-form h2{
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(228, 68, 94);
}

.section-form form input{
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}

.section-form form input[type ="submit"]:hover {
    opacity: 0.5;
}

nav ul #user_info{
    /* display: none; */

}
.user_info{
    display: flex;
    flex-direction: row;
}
nav ul#user_info li i{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
nav ul#user_info li{
    margin: 0 10px;
    position: relative;
}
nav ul#user_info li .badge{
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: red;
    color: white;
    text-align: center;
    display: block;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    font-size: 14px;
    display: none;
    font-size: 12px;
    padding-top: 6px;
}

/* /////////////////HOME//////////////////// */
.products{
    width: 60%;
    margin: 10px 0;
}
.product_item{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    min-height: 150px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.product_item img{
    width: 40%;
    margin-right: 15px;
    height: 300px;
}
.product_item_action{
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.product_item .add_to_cart{
    display: block;
    margin-left: auto;
    background: linear-gradient(to right, rgb(2, 87, 2), rgb(115, 202, 115));
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product_item .fav{
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;
}
/* /////////////////////////////////////////////// */
.carts_products{
    position: absolute;
    width: 210px;
    transform: translate(-40px,0);
    background-color: #eaeaeaea;
    top: 56px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    display: none;
}
.carts_products a{
    display: block;
    color: #fff;
    margin: 4px;
    padding: 0px;
    background-color: darkgreen;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;

}

